@media screen and (max-width: 65em) {
	.physics-box {
		max-width: 90%;
	}
}

@media screen and (max-width: 500px) {
	
	#nav-links button {
		font-size: 1.1em;
	}

	#mypic {
		margin: 0 auto
	}

	.home-box{
		margin-top: 1.5em;
	}

	.home-box h2{
		text-align:center;
	}

	.physics-box {
		max-width: 90%;
	}
}