.porfolio-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.1em;
    max-width: 60em; 
    margin: 1em auto;
}

#myBtnContainer {
    margin: 1em auto;
    text-align: center
}

#myBtnContainer button {
    padding: 0.5em;
    margin: 0.1em 0.2em;
    font-size: 0.8em;
    color: #292730;
    background-color: #d6d6d6;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.3em;
}

#myBtnContainer button:hover {
    background-color: #b0b0b0;
}

#myBtnContainer .btn.active {
    background-color: #666;
    color: white;   
  }

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 14em);
    grid-gap: 0.6em;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.filterDiv{
    float: left;
    color: #292730;
    padding: 0;
    border: solid 1px #8c8996;
    border-radius: 0.3em;
    display: none;
    overflow:hidden;
}

.filterDiv img{
    width:100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.filterDiv{
    box-shadow: 2px 2px 2px #cdcdcd;
}

.filterDiv h3 {
    margin-top: 0.2em;
    margin-left: 0.3em;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.filterDiv p {
    margin-top: 0.1em;
    margin-left: 0.4em;
    font-size: 0.85em;
}

.filterDiv hr{
    margin-left: 0.3em;
    margin-right: 0.4em;
    border: 1px solid  rgb(207, 207, 207);
    border-radius: 5px;
}

.filterDiv a:link {
    text-decoration: none;
    color: #292730;
}

.filterDiv a:visited {
    text-decoration: none;
    color: #292730;
}

.filterDiv a:hover {
    text-decoration: none;
    color: #292730;
}

.filterDiv a:active {
    text-decoration: none;
    color: #292730;
}

.show {
    display:block;
  }