.porfolio-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.1em;
    max-width: 60em; 
    margin: 1em auto;
}

#myBtnContainer {
    margin: 1em auto;
    margin-bottom: 1.8em;
    text-align: center
}

#myBtnContainer button {
    padding: 0.5em;
    margin: 0.1em 0.2em;
    font-size: 0.8em;
    color: #292730;
    background-color: #d6d6d6;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.3em;
}

#myBtnContainer button:hover {
    background-color: #b0b0b0;
}

#myBtnContainer .btn.active {
    background-color: #666;
    color: white;   
  }

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 14em);
    grid-gap: 0.6em;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.filterDiv{
    float: left;
    color: #292730;
    padding: 0;
    border: solid 1px #8c8996;
    border-radius: 0.3em;
    display: none;
    overflow:hidden;
}

.filterDiv img{
    width:100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.filterDiv{
    box-shadow: 2px 2px 2px #cdcdcd;
}

.filterDiv h3 {
    margin-top: 0.2em;
    margin-left: 0.3em;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.filterDiv p {
    margin-top: 0.1em;
    margin-left: 0.4em;
    /* margin-bottom:0.5em; */
    font-size: 0.8em;
}

.filterDiv hr{
    margin-left: 0.3em;
    margin-right: 0.4em;
    border: 1px solid  rgb(207, 207, 207);
    border-radius: 5px;
}

.filterDiv a:link {
    text-decoration: none;
    color: #292730;
}

.filterDiv a:visited {
    text-decoration: none;
    color: #292730;
}

.filterDiv a:hover {
    text-decoration: none;
    color: #292730;
}

.filterDiv a:active {
    text-decoration: none;
    color: #292730;
}

.show {
    display:block;
  }

.hashtag {
    line-height: 1.5em;
}

.hashtag span{
    padding: 2px;
    border-radius: 0.4em;
    margin-right: 0.2em;
    font-size: 0.9em;
}

.hashtag span.python{
    background-color: rgba(0, 0, 255, 0.149);
}

.hashtag span.datavis{
    background-color: rgba(255, 0, 0, 0.149);
}

.hashtag span.matplotlib{
    background-color: rgba(0, 145, 255, 0.149);
}

.hashtag span.numpy{
    background-color: rgba(0, 255, 64, 0.149);
}

.hashtag span.R{
    background-color: rgba(0, 191, 255, 0.149);
}

.hashtag span.dplyr{
    background-color: rgba(246, 255, 0, 0.149);
}

.hashtag span.maps{
    background-color: rgba(0, 78, 8, 0.149);
}

.hashtag span.pandas{
    background-color: rgba(77, 77, 77, 0.149);
}

.hashtag span.physics{
    background-color: rgba(133, 0, 137, 0.149);
}

.hashtag span.latex{
    background-color: rgba(158, 79, 0, 0.149);
}

.hashtag span.WebDev{
    background-color: rgba(158, 0, 142, 0.149);
}

.hashtag span.js{
    background-color: rgba(212, 99, 0, 0.149);
}

.hashtag span.html{
    background-color: rgba(192, 186, 0, 0.149);
}

.hashtag span.css{
    background-color: rgba(241, 0, 36, 0.149);
}

.hashtag span.scipy{
    background-color: rgba(0, 241, 169, 0.226);
}


.hashtag span.api{
    background-color: rgba(241, 0, 56, 0.226);
}

.hashtag span.GameDev{
    background-color: rgba(131, 52, 0, 0.226);
}

.hashtag span.pygame{
    background-color: rgba(197, 184, 0, 0.226);
}

.hashtag span.publichealth{
    background-color: rgba(0, 94, 184, 0.226);
}



/* <span class="WebDev">#WebDev </span>
<span class="html">#html </span>
<span class="js">#JavaScript </span>
<span class="css">#css </span> */