@media screen and (max-width: 800px) {
	
	#mainBox {
		
	padding: 10pt 0 15pt 0;

	}
	
	#mainTitle {
	font-size: 2em;
	}
	
	.searchBox input{
	max-width: 70%;
	}
	
	#submit {
		display:none;
	}
	
	#shiny_check {
		margin-top:0;
	}
	
	#footer {
		max-width: 90%;
	}
}
	
}
