body {
	font-family: 'Trebuchet MS', sans-serif;
}

#mainBox {
	background-color: #cc99ff;
	color: white;
	width: 540pt;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 20pt;
	padding: 30pt 0 70pt 0;
	border-radius: 60pt;
	overflow: hidden;
}

#mainTitle {
	text-align: center;
	font-size: 40pt;
	text-shadow: 0 0 5px black, 0 0 7px black;
}

.searchBox {
	text-align: center;
	font-size: 15pt;
}

.searchBox input{
	width: 300pt;
	max-width: 80%;
	font-size: 15pt;
}

.searchBox input{
	width: 300pt;
	max-width: 80%;
}

.searchBox button{
	font-size: 15pt;
}


#footer {
	margin: 0 auto;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0px;
	width: 540pt;
	max-width: 95%;
	color: white;
	padding: 10pt;
	background-color: #cc99ff;
	border-radius: 30pt 30pt 0 0;
	text-shadow: 0 0 2px black, 0 0 7px black;
}

#footer a{
	color: white;
}

#footer p{
	width: 450pt;
	max-width: 95%;
	margin: 0 auto;
}

#gif_box {
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
}

#gif_box img{
	height: 10em;
}