body {
	font-family: 'Trebuchet MS', sans-serif;
	padding-top:15%;
}

#mainBox {
	background-color: #cc99ff;
	color: white;
	width: 540pt;
	max-width: 95%;
	margin: 0 auto;
	padding: 30pt 0 30pt 0;
	border-radius: 60pt;
	overflow: hidden;
}

#mainTitle {
	text-align: center;
	font-size: 3em;
	text-shadow: 0 0 5px black, 0 0 7px black;
}

#shiny_check {
	margin:0 auto;
	margin-left:20%;
	margin-top:0.3em;
	text-align:center-left;
	font-size:1.3em;
	text-align:left;
	width:300pt;
}

#shiny {
	margin:0;
	margin-left:-100pt;
}

.searchBox {
	text-align: center;
	font-size: 15pt;
}

.searchBox input{
	width: 300pt;
	max-width: 80%;
	font-size: 15pt;
	margin:10pt;
}

.searchBox input{
	width: 300pt;
	max-width: 80%;
}

.searchBox button{
	font-size: 15pt;
}


#footer {
	margin: 0 auto;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0px;
	width: 540pt;
	max-width: 95%;
	color: white;
	padding: 15pt;
	background-color: #cc99ff;
	border-radius: 30pt 30pt 0 0;
	text-shadow: 0 0 2px black, 0 0 7px black;
}

#footer a{
	color: white;
}

#footer p{
	width: 450pt;
	max-width: 95%;
	margin: 0 auto;
}

#gif_box {
	margin-top: 3em;
	margin-bottom: 0.5em;
	text-align: center;
}

#gif_box img{
	height: 10em;
}